body{
    margin: 0;
    margin-top: 0px;
    background-color: black;
}

.Header{
    color:white;
    background-color: rgb(1, 1, 63);
    height: 10px;
}

.TxtHeader{
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: rgb(1, 65, 65);
    overflow: hidden;

}
li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.links{
    color: rgb(187, 245, 245);
}
.links:visited{
    color: rgb(187, 245, 245);
}
.links:hover{
    background-color: rgb(187, 245, 245);
/*
    border-radius: 5px; 
*/
    color: black;
}

.Contenedor{
    padding-top: 40px;
    margin-top: 10px;
    margin-left: 5%;
    background-color: black;
}

.imag{
    width: 18.5%;
    opacity: .5;
}
.block :hover{
    opacity: 1;
    -webkit-transform: scale(1.04); 

}
.block{
    display: inline;
}

.Erick{
    color: red;
}